@charset "UTF-8";
/* em html id = em css é #
em html é class = em css .
*/ 
body{
background-color: rgb(79, 80, 87);
font-family: Arial, Helvetica, sans-serif;


}
h1{
   background-color: blue;
color: yellow;
text-align: center;
}
 h1#principal{
text-align: center;
background-color: blue;
color:gray;
 }
 h2{

    color:darkslategray;
 }